body {
    background-color: rgb(238, 240, 240);
    margin: 0px 60px;
}

h1 {
    color: whitesmoke; font-weight: bold;
    background-color: #213555;
    padding: 30px
}



h2 {
    color: #848485; font-style: italic; font-size: smaller; text-align: center;
}

h3 {
    color:#0e2378; font-weight:bolder;
}

h4 {
    color:#0e2378
}
h5 {
    text-align: center;
}



.bold {
    font-weight: bold;
}  

* {
    font-family: 'Open Sans', sans-serif;
}

.special {
    color: white;
    font-weight: bold; text-align:center;
    background-color: black;
    padding: 30px
}

/* Default styles for the image */
.image-container img {
    width: 80%;
    text-align: center;
    margin-left: 10%;

  }
  
